// Imports

@import '../../../Media_SCSS/Breakpoints.scss';
@import '../../../Media_SCSS/Variables.scss';

// Media

@include Laptop {
    .task_div{
        .task{
            width: 80vw;
        }
    }
}


@include Bg_mobile(){
    .task_div{
        .task{
            width: 90vw;
            .task_text{
                width: 72vw;
            }
        }
    }
}