.start_page_text_div {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: center;

    .first_paragraph {

        margin: 0px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #ACACAC;
        letter-spacing: 0.2px;
    }

    .second_paragraph {
        margin: 0px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 54px;
        letter-spacing: 0.002em;
        color: #666666;
    }
}